/* Utility class */

/* Added font from the file */
@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url(HelveticaNeue-Thin.otf);
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

body {
  font-family: "HelveticaNeue-Thin";
}

/* Helper classes */

.alighLeft {
  float: left;
}
.alighRight {
  float: right;
}

p,
ul li,
ol li {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;
}
/* End of Helper */

h1 {
  font-size: 25px;
}
