/* Utility class */
* {
  box-sizing: border-box;
}

/* Added font from the file */
@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url(HelveticaNeue-Thin.otf);
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  padding: 40px 20px;
}

body {
  font-family: "HelveticaNeue-Thin";
}

/* Helper classes */

.alignLeft {
  float: left;
}
.alignRight {
  float: right;
}

p,
ul li,
ol li {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;
}
/* End of Helper */

h1 {
  font-size: 25px;
}

#hero {
  background-image: url("../img/heroimg.png");
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}

h2 {
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  text-transform: uppercase;
  margin-left: 30px;
  padding-bottom: 3px;
  /* border-bottom: 4px solid white transparent; */
  text-decoration: none;
  /* transition: border-bottom 0.2s, color 0.1s; */
}

nav li a:hover {
  border-bottom: 4px solid white;
  transition: border-bottom 0.2s, color 0.1s;
}

#hero h2 {
  color: white;
  margin-bottom: 40px;
}

.cta {
  display: inline-block;
  margin-top: 90px;
  position: relative;
}

.imgs {
  position: absolute;
  right: -135px;
}

.iphone {
  width: 85%;
  position: relative;
  margin-bottom: -240px;
}

.cta-info {
  width: 60%;
  padding-right: 150px;
}

.hero-paragraph {
  font-size: 36px;
  line-height: 40px;
  color: white;
  margin-bottom: 55px;
}

.cta-button {
  padding: 23px 35px;
  background: #282828;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.cta-button:hover {
  background: #383737;
  transition: 0.3s;
}

.iphone-icon {
  vertical-align: middle;
  padding-right: 20px;
}

/* Features section */

#app-features .container {
  text-align: center;
  padding: 60px 20px;
}

#app-features {
  color: #8a8a8a;
}

#app-features h2 {
  margin-bottom: 40px;
}

.p-features {
  font-size: 22px;
  line-height: 28px;
  padding: 0px 130px;
}

.row h3 {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 24px;
  margin: 30px 0px;
}

.col-4-app {
  width: 33.33%;
  float: left;
  padding: 0 44px;
}

.col-4-app p {
  font-size: 18px;
  line-height: 24px;
}

.row {
  overflow: hidden;
  margin-top: 50px;
}

/* Nose section */

#nose {
  background-image: url(../img/clownlady.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.download-btn {
  padding: 13px 35px;
  background: #d9332d;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.download-btn:hover {
  background: #c33934;
  transition: 0.3s;
}
.p-nose {
  font-size: 24px;
  line-height: 28px;
  color: #616262;
  margin: 55px 0px;
}

.text-main {
  color: #f55150;
}

.download-info {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  padding: 60px 0px;
}

.download-info h2 {
  color: white;
}

/* Footer section */

footer {
  background: #2e2e38;
}

footer .container {
  padding: 50px 20px;
  color: white;
}

footer h4 {
  font-size: 20px;
  font-weight: bold;
}

.ul-posts li {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  padding-left: 70px;
}

.col-4-footer {
  width: 33.33%;
  float: left;
  margin-top: 57px;
  padding: 30px;
}

.ul-posts,
.ul-tweets {
  margin-top: 25px;
}

.reddish-bg {
  background: url("/img/red-recktangle.png") no-repeat;
}

.block {
  display: block;
}

.p-about {
  font-size: 15px;
  font-style: initial;
  margin-top: 25px;
}

.ul-tweets {
  margin-bottom: 25px;
}

.smalltext {
  font-size: 11px;
  margin-top: 5px;
}

/* Copyright */

#copyright .container {
  padding: 30px;
  text-align: center;
}

#copyright {
  background: #d7dedc;
}

.inline {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  margin-bottom: 0px;
}

.cr,
.me {
  margin-right: 40px;
}

.icon {
  margin-right: 40px;
}

.cr::after,
.me::after {
  content: "";
  border: 1px solid #555;
  margin-left: 60px;
  vertical-align: middle;
}

/* animations */

.iphone-on {
  position: absolute;
  right: 175px;
  top: 114px;
  width: 54%;
}

.iphone-btn {
  position: absolute;
  right: 215px;
}

.js-wp-2 {
  opacity: 0;
}

.js-wp-2.animated {
  opacity: 1;
}
.js-wp-3 {
  opacity: 0;
  animation-delay: 3.2s;
}

.js-wp-3.animated {
  opacity: 1;
}

/* Media Queries */

@media only screen and (max-width: 1240px) {
  .cta-info {
    padding-right: 40px;
  }

  
  @media only screen and (max-width: 820px) {
    .iphone, .iphone-on, .iphone-btn{
      display:none;
    }
    .cta-info {
      padding-right: 40px;
      width: 100%;
      text-align:center;
    }

    p.p-features{
      padding: 0 30px;
    }

    .col-4-app{
      width: 100%;
      float:none;
      margin-bottom: 40px;
    }
    
    .col-4-footer{
      width: 100%;
      float:none;
      margin-top: 0px;
    }

    footer .container{
    padding-bottom: 10px;
    }

.cr::after,
.me::after {
 display: none;
}

.inline{
  padding-top: 10px;
}
  }